.App {
  text-align: center;
  background-color: #1f024e;
  color:white;
  margin: 0;
  padding:0;
  font-family: 'Alegreya', serif;
  text-emphasis-color: white;

}



.header-container {
  background-color:#77DD77;
  background-size: cover;
  background-position: center;

}

.quizButton{
  background-color: #1aae8e;
}


.AskLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:1000px;
  height:1000px;
  
}

.NavBar {
  color: #C3B1E1;
  font-family: 'Alegreya', serif;
}

.App-header {
  background-color:  #77DD77;
  font-family: 'Alegreya', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 4rem;
  max-width: 8rem;
}

.navbar-dark {
  background-color: #1aae8e;
  background-image: linear-gradient(to right, #3568f5, #30bbc5, #9f49aa);
  margin-bottom: 2rem;
  min-height: 8rem;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.site-footer {
  background-image: linear-gradient( white);
  padding: 20px 0;
  margin-top: 2rem;
}

.welcomeModal {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  z-index: 1000
}

.welcomeModalBody {
  width: 80%; /* Adjust the width to your preference */
  max-width: 500px; /* Set a maximum width to prevent excessive expansion */
  padding: 20px; /* Add padding for spacing */
  background-color: white; /* Add a background color */
  text-align: center; /* Center the text content */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
